:root {
  --background: #141414;
  --accent: #171717;
  --text: #F4F4F4;
  --text2: gray;
  --mouse-x: 0px;
  --mouse-y: 0px;
}

body {
  background-color: var(--background);
}

.loading {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: bolder;
  color: var(--text);
  margin: 100px;
}

.header {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  height: 65px;
  width: 100%;
  margin-top: 0;
  background-color: var(--accent);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
  position: relative;
  overflow: hidden;
}

.header:hover::before {
  opacity: 1;
}

.header::before,
.header::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.header::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.header::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.header > .header-content {
  background-color: var(--accent);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.animefinder {
  font-family: "Outfit";
  font-size: 36px;
  color: var(--text);
  margin: 10px 0;
}

.bodycontainer {
  display: flex;
  justify-content: center;
}

.searchbar {
  display: flex;
  align-items: center; 
  margin-top: 30px;
  max-width: 810px;
  width: 100%; 
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  background-color: var(--accent);
  transition: transform 0.3s ease;
}

.searchbar input{
  flex: 1; 
  max-width: 810px;
  width: 100%; 
  height: 53px;
  border-radius: 60px;
  background-color: var(--accent);
  color: var(--text2);
  font-family: "Outfit";
  font-size: 26px;
  font-weight: bold;
  border: none;
  padding-left: 60px;
}

.searchbar input:focus {
  color: var(--text);
  font-weight: 500;
  font-size: 24px;
}

.searchBtn {
  color: var(--text2);
  font-weight: bold;
  cursor: pointer; 
  text-decoration: none;
  background-color: transparent;
  border: none;
  margin: 0 50px; 
  transition: color 0.3s ease;
}

.searchBtn:hover {
  color: var(--text); 
  transition: color 0.3s ease;
}


.searchbar:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.animeList{
  display: flex;
  flex-direction: column;
  font-family: "Outfit";
  margin-top: 20px;
  width: 810px; 
  max-height: 650px;
  background-color: var(--accent);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  overflow: auto;
}

.bodycontainer {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center; 
}

.animeList img {
  width: 100px;
  height: auto;
  border-radius: 16px;
  margin-top: 20px;
  margin-left: 40px;
}

.animeList p {
  color: var(--text);
  font-family: "Outfit";
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 10px;
  transition: font-size 0.3s ease;
}

.animeList a {
  text-decoration: none;

}

.animeList p:hover {
  font-size: 26px;
  transition: font-size 0.3s ease;
}

.animeItem {
  display: flex; 
  align-items: center; 
}

.animeItem:last-child {
  margin-bottom: 20px; 
}

.animeList::-webkit-scrollbar {
  width: 12px;
}

.animeList::-webkit-scrollbar-track {
  background: var(--accent); 
}

.animeList::-webkit-scrollbar-thumb {
  background-color: var(--text2); 
  border-radius: 100px; 
}

.animeList::-webkit-scrollbar-thumb:hover {
  background-color: var(--text); 
}


@media screen and (max-width: 925px) {
  .animefinder {
    font-size: 28px;
    margin: 20px 0;
  }
  .searchbar {
    width: 700px;
  }
  .searchbar input {
    padding-left: 30px;
    font-size: 16px;
  }   
  .searchbar input:focus {
    font-size: 16px;
  }
  .animeList {
    width: 700px;
  }
  .animeList img {
    margin-left: 30px;
    width: 80px;
  }   
  .animeList p {
    font-size: 18px;
  }
  .loading {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .animefinder {
    font-size: 28px;
    margin: 20px 0;
  }
  .searchbar {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .searchbar input {
    padding-left: 30px;
    font-size: 16px;
  }   
  .searchbar input:focus {
    font-size: 16px;
  }
  .searchBtn {
    margin: 0 15px; 
  }
  .animeList {
    width: 300px;
  }
  .animeList img {
    margin-left: 30px;
    width: 80px;
  }   
  .animeList p {
    font-size: 18px;
  }
  .animeList p:hover {
    font-size: 20px;
  }
  .loading {
    font-size: 24px;
  }
}

.bodyContainer {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bodyContainer.active {
  opacity: 1;
}

.bodyContainer:hover {
  opacity: 1;
}

.detailsContainer {
  width: 810px;
  height: auto;
  min-height: 650px;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 24px;
  background-color: var(--accent);
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center; 
  padding-bottom: 5px;
}

.animeInfo {
  display: flex;
  align-items: flex-start; 
}

.animeimage img {
  float: left;
}

.animeimage img {
  width: 250px;
  height: auto;
  border-radius: 15px;
  margin: 20px;
  /* margin-top: -220px; */
  margin-left: -40px;
}

.animeDetails {
  flex: 1;
  overflow: hidden; 
}

.animetitle {
  font-family: "Outfit";
  color: var(--text);
  font-size: 30px;
  width: 350px;
  /* margin-top: 0px; */
}

.entitle {
  font-size: 20px;
  margin-top: -25px;
  color: var(--text2);
}

.animescore {
  font-size: 32px;
  color: var(--text);
  font-family: "Outfit";
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  position:fixed;
  margin-left: 650px;
  margin-top: 30px;
}

.scoretitle {
  font-size: 20px;
  color: var(--text2);
  margin-top: 25px;
  margin-bottom: -35px;
}

.otherinfo {
  color: var(--text);
  font-family: "Outfit";
  font-size: 14px;
  margin-top: -5px;
}

.othertitle {
  color: var(--text2);
}

.otherinfo p {
  margin: 5px 0;
}

.syntitle {
  color: var(--text2);
  margin-bottom: -10px;
}

.animesynp {
  color: var(--text);
  font-family: "Outfit";
  font-size: 15px;
  width: 450px;
  text-align: justify;
  /* margin-top: 20px; */
}

.animeDetails {
  flex: 1; 
}

.animesynp {
  clear: both; 
}

@media screen and (max-width: 767px) {
  .detailsContainer {
    width: 90%;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    flex-direction: column;
  }

  .animeimage {
    display: flex;
    justify-content: center;
  }

  .animeimage img {
    width: 250px;
    margin: 10px;
    margin-top: 20px;
  }
  .animeInfo {
    margin: 0 40px;
  }

  .animetitle {
    font-size: 24px;
    width: auto;
  }

  .entitle {
    font-size: 16px;
    margin-top: -20px;
  }

  .animescore {
    flex-wrap: wrap;
    position: relative; 
    font-size: 24px;
    width: 130px;
    height: 60px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5px;
    margin-bottom: -15px;
  }
  .score {
    margin-left: -10px;
  }
  .scoretitle { 
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 1px;
  }

  .otherinfo {
    font-size: 12px;
    margin-top: -3px;
  }

  .othertitle {
    font-size: 14px;
  }

  .animesynp {
    font-size: 14px;
    width: 300px;
  }

  .loading {
    font-size: 24px;
  }
}

